# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [17]:
# Your code here:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [20]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [21]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33702 entries, 0 to 33701
Data columns (total 8 columns):
Name                 33702 non-null object
Job Titles           33702 non-null object
Department           33702 non-null object
Full or Part-Time    33702 non-null object
Salary or Hourly     33702 non-null object
Typical Hours        8174 non-null float64
Annual Salary        25528 non-null float64
Hourly Rate          8174 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.1+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
# Your code here:
salaries['Hourly Rate'].count()

8174

In [16]:
salaries['Annual Salary'].count()

25528

In [23]:
salaries['Hourly Rate'].count() + salaries['Annual Salary'].count() == 33702

True

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
# Your code here:
salaries['Department'].unique()

array(['FIRE', 'POLICE', 'FAMILY & SUPPORT', 'WATER MGMNT', 'AVIATION',
       'TRANSPORTN', 'STREETS & SAN', 'FINANCE', 'LAW', 'CITY COUNCIL',
       'DAIS', 'OEMC', 'COPA', 'HEALTH', 'BUSINESS AFFAIRS',
       'HUMAN RESOURCES', 'PUBLIC LIBRARY', 'CULTURAL AFFAIRS', 'HOUSING',
       'PROCUREMENT', 'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK',
       'HOUSING & ECON DEV', 'BOARD OF ELECTION', 'PUBLIC SAFETY ADMIN',
       'DISABILITIES', 'INSPECTOR GEN', 'HUMAN RELATIONS',
       "MAYOR'S OFFICE", 'TREASURER', 'BUDGET & MGMT', 'BOARD OF ETHICS',
       'POLICE BOARD', 'ADMIN HEARNG', 'LICENSE APPL COMM'], dtype=object)

In [28]:
salaries.groupby('Department')['Name'].count()

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [60]:
# Your code here:

from scipy.stats import ttest_1samp

hourly_wage = salaries['Hourly Rate'].dropna()

(statistic, pvalue) = ttest_1samp(hourly_wage, popmean=30)

In [67]:
pvalue

3.825475847673794e-202

In [68]:
statistic

31.211500329216044

In [66]:
salaries['Hourly Rate'].dropna().mean()

34.58644971862046

In [64]:
print('Since the pvalue is << 0.05 we negate the null hypothesis and coclude that the mean hourly rate is significantly diffrent from $30/hr')

Since the pvalue is << 0.05 we negate the null hypothesis and coclude that the mean hourly rate is significantly diffrent from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [91]:
# Your code here:
salary_police = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna()

(statistic, pvalue) = ttest_1samp(salary_police, popmean=86000)

In [95]:
print(pvalue/2)

6.119566952121482e-76

In [ ]:
print('Since the pvalue is << 0.05 we negate the null hypothesis and coclude that the mean')

Using the `crosstab` function, find the department that has the most hourly workers.

In [114]:
# Your code here:

pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], dropna=False).sort_values(by='Hourly', ascending=False)

Salary or Hourly     Hourly  Salary
Department
STREETS & SAN          1846     329
WATER MGMNT            1558     356
AVIATION               1214     642
OEMC                   1077     660
DAIS                    745     288
TRANSPORTN              726     387
FAMILY & SUPPORT        357     299
PUBLIC LIBRARY          356     732
CITY COUNCIL             74     288
LAW                      48     350
PUBLIC SAFETY ADMIN      48     196
FINANCE                  45     499
POLICE                   24   13824
MAYOR'S OFFICE           17      87
ANIMAL CONTRL            12      63
CULTURAL AFFAIRS         10      64
BUSINESS AFFAIRS          7     160
HOUSING & ECON DEV        3     151
PROCUREMENT               2      82
HEALTH                    2     465
BUDGET & MGMT             2      42
DISABILITIES              1      27
POLICE BOARD              0       2
TREASURER                 0      28
ADMIN HEARNG              0      38
LICENSE APPL COMM         0       1
INSPECTOR GEN             0      95
HUMAN RESOURCES           0      75
HUMAN RELATIONS           0      17
FIRE                      0    4627
COPA                      0     123
CITY CLERK                0      88
BUILDINGS                 0     258
BOARD OF ETHICS           0       8
BOARD OF ELECTION         0     111
HOUSING                   0      66

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [119]:
# Your code here:

salary_ss = salaries[salaries['Department'] == 'STREETS & SAN']['Annual Salary'].dropna()

(statistic, pvalue) = ttest_1samp(salary_ss, popmean=35)

In [122]:
print(pvalue/2)

3.5163941405014054e-201

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: