# StackAPI

#### Import the necessary libraries here:

In [2]:
# your code here
from stackapi import StackAPI
SITE = StackAPI('stackoverflow')

StackAPIError: ('https://api.stackexchange.com/2.2/sites/?pagesize=1000&page=1&filter=%21%2AL1%2AAY-85YllAr2%29', 502, 'throttle_violation', 'too many requests from this IP, more requests available in 7119 seconds')

#### Question 1: Find the questions and answers of last month.

In [2]:
# your code here
questions = SITE.fetch('questions', fromdate=1580515200, todate=1583020799)

In [35]:
questions['items'][0]

{'tags': ['python', 'tensorflow', 'keras', 'pre-trained-model'],
 'owner': {'reputation': 2139,
  'user_id': 3337089,
  'user_type': 'registered',
  'accept_rate': 86,
  'profile_image': 'https://www.gravatar.com/avatar/b096725512960a65abe37b76c383de67?s=128&d=identicon&r=PG&f=1',
  'display_name': 'Nagabhushan S N',
  'link': 'https://stackoverflow.com/users/3337089/nagabhushan-s-n'},
 'is_answered': True,
 'view_count': 26,
 'answer_count': 1,
 'score': 5,
 'last_activity_date': 1583723188,
 'creation_date': 1583716704,
 'question_id': 60593624,
 'link': 'https://stackoverflow.com/questions/60593624/modify-trained-model-architecture-and-continue-training-keras',
 'title': 'Modify trained model architecture and continue training Keras'}

In [36]:
quest = pd.DataFrame(questions['items'])

In [37]:
quest

,tags,owner,is_answered,view_count,answer_count,score,last_activity_date,creation_date,question_id,link,title,accepted_answer_id,last_edit_date,closed_date,closed_reason
0,"[python, tensorflow, keras, pre-trained-model]","{'reputation': 2139, 'user_id': 3337089, 'user...",True,26,1,5,1583723188,1583716704,60593624,https://stackoverflow.com/questions/60593624/m...,Modify trained model architecture and continue...,NaN,NaN,NaN,NaN
1,"[python, pandas]","{'reputation': 139, 'user_id': 10783924, 'user...",True,59,4,4,1583724631,1583723323,60594272,https://stackoverflow.com/questions/60594272/f...,Find row average of tuples in data frame / 2d ...,60594311.0,1.583724e+09,NaN,NaN
2,"[python, list]","{'reputation': 41, 'user_id': 13032963, 'user_...",True,40,2,4,1583760265,1583759138,60601208,https://stackoverflow.com/questions/60601208/h...,How do I make independent lists within in a list?,NaN,1.583760e+09,NaN,NaN
3,"[python, pandas, dataframe]","{'reputation': 43, 'user_id': 13032899, 'user_...",True,21,2,4,1583760641,1583759591,60601337,https://stackoverflow.com/questions/60601337/g...,groupby and withhold information of one column...,60601542.0,1.583760e+09,NaN,NaN
4,"[python, regex, pandas, dataframe, nltk]","{'reputation': 612, 'user_id': 9161067, 'user_...",True,59,1,4,1583769158,1583764083,60602630,https://stackoverflow.com/questions/60602630/p...,Partial keyword match not working when I am tr...,60604053.0,1.583767e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,"[python, firebase-cloud-messaging, mule]","{'reputation': 11, 'user_id': 12852541, 'user_...",False,18,1,0,1583780242,1583758761,60601096,https://stackoverflow.com/questions/60601096/m...,Mule 3.8 error: ImportError: No module named auth,NaN,1.583760e+09,NaN,NaN
496,"[python, android, flask, heroku, flask-restful]","{'reputation': 517, 'user_id': 726872, 'user_t...",False,26,0,0,1583771337,1583758716,60601079,https://stackoverflow.com/questions/60601079/f...,flask-restful HTTP 500 when uploading file fro...,NaN,1.583771e+09,NaN,NaN
497,"[python, tensorflow, tensorflow2.0, image-reco...","{'reputation': 53, 'user_id': 6095520, 'user_t...",False,12,0,0,1583758534,1583758534,60601026,https://stackoverflow.com/questions/60601026/t...,Tensorflow For Poets - Upgrade to Tensorflow 2,NaN,NaN,NaN,NaN
498,"[python, math]","{'reputation': 1, 'user_id': 12823073, 'user_t...",False,5,0,0,1583758638,1583758318,60600964,https://stackoverflow.com/questions/60600964/m...,Mathpix - Image Retrieve,NaN,1.583759e+09,NaN,NaN
499,"[python, html, selenium]","{'reputation': 7, 'user_id': 12438012, 'user_t...",False,19,0,0,1583759560,1583758075,60600900,https://stackoverflow.com/questions/60600900/p...,Python3 Scraping Printer`s web page is not wor...,NaN,1.583760e+09,NaN,NaN

In [33]:
answers = SITE.fetch('answers', fromdate=1580515200, todate=1583020799)

In [41]:
answ = pd.DataFrame(answers['items'])

In [42]:
answ.head()

,owner,is_accepted,score,last_activity_date,last_edit_date,creation_date,answer_id,question_id,community_owned_date
0,"{'reputation': 2340, 'user_id': 2233308, 'user...",False,1,1583780299,1583780299,1581760398,60237619,60233772,NaN
1,"{'reputation': 10120, 'user_id': 4728685, 'use...",False,0,1583778673,1583778673,1581930701,60259073,60258429,NaN
2,"{'reputation': 1085, 'user_id': 1726544, 'user...",True,0,1583776164,1583776164,1582124343,60303161,60270123,NaN
3,"{'reputation': 731, 'user_id': 1131162, 'user_...",True,0,1583775364,1583775364,1582481478,60365300,60287191,NaN
4,"{'reputation': 8869, 'user_id': 361855, 'user_...",False,0,1583775201,1583775201,1582755304,60423420,58675893,NaN

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [11]:
# your code here

questions = SITE.fetch('questions', fromdate=1583712000, todate=1583785860,
    tagged='python', sort='votes')

In [16]:
questions['items'][0]

{'tags': ['python', 'tensorflow', 'keras', 'pre-trained-model'],
 'owner': {'reputation': 2139,
  'user_id': 3337089,
  'user_type': 'registered',
  'accept_rate': 86,
  'profile_image': 'https://www.gravatar.com/avatar/b096725512960a65abe37b76c383de67?s=128&d=identicon&r=PG&f=1',
  'display_name': 'Nagabhushan S N',
  'link': 'https://stackoverflow.com/users/3337089/nagabhushan-s-n'},
 'is_answered': True,
 'view_count': 26,
 'answer_count': 1,
 'score': 5,
 'last_activity_date': 1583723188,
 'creation_date': 1583716704,
 'question_id': 60593624,
 'link': 'https://stackoverflow.com/questions/60593624/modify-trained-model-architecture-and-continue-training-keras',
 'title': 'Modify trained model architecture and continue training Keras'}

In [24]:
import pandas as pd

quest = pd.DataFrame(questions['items'])

In [32]:
quest['title'].head(5)

0    Modify trained model architecture and continue...
1    Find row average of tuples in data frame / 2d ...
2    How do I make independent lists within in a list?
3    groupby and withhold information of one column...
4    Partial keyword match not working when I am tr...
Name: title, dtype: object

#### Question 3: Find the answers with id 6784 and 6473.

In [59]:
# your code here
answers = SITE.fetch('answers', accepted_answer_id=[6784,6473])

In [61]:
answ = pd.DataFrame(answ)

In [64]:
quest['accepted_answer_id']

0      60607996.0
1             NaN
2      60607737.0
3      60607938.0
4             NaN
          ...
495           NaN
496           NaN
497    27673705.0
498           NaN
499           NaN
Name: accepted_answer_id, Length: 500, dtype: float64

In [1]:
answ = SITE.fetch('answers/{ids}', ids=[1,2,3])

NameError: name 'SITE' is not defined