## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

# The random.sample function makes sure the values on the list are in fact unique
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[90, 83, 19, 59, 70, 37, 39, 36, 79, 9, 74, 98, 16, 92, 50, 85, 47, 61, 63, 95, 52, 78, 49, 77, 46, 54, 94, 29, 86, 20, 2, 100, 55, 75, 28, 34, 41, 72, 33, 21, 30, 42, 8, 44, 10, 0, 3, 24, 11, 40, 71, 13, 57, 45, 68, 88, 25, 65, 6, 64, 5, 66, 96, 62, 38, 43, 48, 84, 82, 12, 1, 80, 87, 91, 73, 67, 27, 14, 58, 35]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print('The length of set1 is still 80 because all the numbers in sample_list_1 are unique')

80
The length of set1 is still 80 because all the numbers in sample_list_1 are unique

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = random.choices(range(101), k=80)
print(sample_list_2)

[33, 8, 46, 60, 93, 31, 3, 59, 80, 28, 16, 3, 53, 29, 63, 15, 4, 84, 59, 99, 86, 99, 73, 49, 44, 68, 54, 99, 57, 18, 49, 9, 49, 69, 69, 21, 39, 2, 40, 81, 77, 88, 32, 29, 74, 12, 96, 80, 66, 97, 82, 15, 39, 43, 7, 38, 36, 46, 69, 67, 6, 40, 11, 42, 13, 3, 74, 62, 42, 28, 68, 31, 18, 33, 87, 26, 86, 54, 35, 81]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print('The lenght of set2 must be 80 or less because the numbers in sample_list_2 are not necessarily unique')

55
The lenght of set2 must be 80 or less because the numbers in sample_list_2 are not necessarily unique

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(set3)

{0, 1, 5, 14, 19, 22, 24, 25, 27, 30, 37, 41, 45, 48, 51, 55, 56, 58, 61, 70, 71, 72, 75, 76, 78, 79, 83, 85, 89, 90, 92, 94, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2-set1
print(set4)

{4, 39, 8, 40, 73, 12, 86, 26, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 3, 6, 7, 9, 11, 13, 15, 16, 18, 21, 28, 29, 31, 32, 33, 35, 36, 38, 42, 43, 44, 46, 49, 53, 54, 57, 59, 60, 63, 66, 67, 68, 69, 74, 77, 80, 81, 82, 84, 87, 88, 93, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
relationships = (len(set1) >= len(set2), len(set1) == len(set3) + len(set5), len(set2) == len(set4) + len(set5))
print(relationships)

(True, True, True)

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3, set5)

print(set6)

{0, 1, 2, 3, 5, 6, 7, 9, 11, 13, 14, 15, 16, 18, 19, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
(set2.issubset(set1), set3.issubset(set1))

(False, True)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set1.union(set2) == set3.union(set4, set5)

True

#### Using the `pop` method, remove the first element from `set1`.

In [4]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in list_to_remove:
    if e in set1:
        set1.remove(e)
print(set1)

{2, 3, 5, 6, 7, 13, 14, 15, 16, 18, 22, 24, 25, 27, 28, 30, 32, 33, 35, 36, 37, 38, 42, 43, 44, 45, 46, 48, 53, 54, 55, 56, 57, 58, 60, 63, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 96, 97, 98, 100}