In [12]:
def list2string(lst):
    string = ' '.join(lst)
    return string

to_string = ['John', 'was', 'a', 'man', 'of', 'many', 'talents']
list2string(to_string)

'John was a man of many talents'

In [18]:
a = 9

def multiply(number, multiplier=2):
    b = number * multiplier
    return b

c = multiply(a)

print(a, c)

9 18

In [19]:
print(b)

NameError: name 'b' is not defined

In [17]:
multiply(multiplier=5, number=100)

SyntaxError: positional argument follows keyword argument (<ipython-input-17-c6080a8d4b61>, line 1)

In [20]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
weekend = ['Saturday', 'Sunday']

def get_first_three_elements(lst):
    if len(lst)>=3:
        return (lst[0],lst[1],lst[2])
    else:
        return ('error', 'error', 'error')

print (get_first_three_elements(weekdays))

print (get_first_three_elements(weekend))

('Monday', 'Tuesday', 'Wednesday')
('error', 'error', 'error')

In [25]:
import pandas as pd

data = pd.read_csv('./vehicles.csv')

def get_means(df):
    numeric = df._get_numeric_data()
    means = pd.DataFrame(numeric.mean()).reset_index()
    means.columns = ['Column', 'Mean']
    return means

mean_df = get_means(data)
mean_df

                    Column         Mean
0                     Year  2000.716400
1      Engine Displacement     3.338493
2                Cylinders     5.765076
3        Fuel Barrels/Year    17.609056
4                 City MPG    17.646139
5              Highway MPG    23.880646
6             Combined MPG    19.929322
7  CO2 Emission Grams/Mile   475.316339
8           Fuel Cost/Year  1892.598465