In [1]:
import random
import pandas as pd

In [2]:
x = [random.randint(1,9) for x in range(10)]

In [3]:
y = [random.randint(1,9) for x in range(10)]

In [4]:
z = [random.randint(1,9) for x in range(10)]

In [5]:
df = pd.DataFrame([x, y, z], columns=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [6]:
df

   a  b  c  d  e  f  g  h  i  j
0  9  3  2  2  7  8  2  5  6  3
1  3  7  8  6  9  8  9  2  8  2
2  6  7  4  7  2  7  8  9  5  1

if j == 9: j = a + b

In [7]:
s = lambda a,b: a + b

In [8]:
col1 = 'a'
col2 = 'b'

In [9]:
df['k'] = df['a'] + df['b']

In [10]:
df

   a  b  c  d  e  f  g  h  i  j   k
0  9  3  2  2  7  8  2  5  6  3  12
1  3  7  8  6  9  8  9  2  8  2  10
2  6  7  4  7  2  7  8  9  5  1  13

In [26]:
f = lambda a,b: a+b

In [28]:
df['k'] = df.apply(lambda x: f(x.a, x.b), axis=1)

In [29]:
df

   a  b  c  d  e  f  g  h  i  j   k
0  9  3  2  2  7  8  2  5  6  3  12
1  3  7  8  6  9  8  9  2  8  2  10
2  6  7  4  7  2  7  8  9  5  1  13